.contact {
  &__form {
    padding-bottom: 56px;
  }

  &__privacy {
    .privacy {
      &__title {
        @extend .step__title;

        font-size: $font-size-md;
      }

      &__caption {
        @extend .step__caption;

        padding-bottom: 12px;
      }
    }
  }
}
