.pref {
    &__row {
        margin-bottom: 20px;
        row-gap: 20px;
        column-gap: 20px;
    }
}

.loading {
    visibility: hidden;
    @extend .font__mont-xs;
    overflow-wrap: break-word;
}

.display {
    visibility: visible;
}