.quote {
  margin-bottom: 32px;
  max-width: 360px;
  margin-left: 17px;

  &__container {
    box-shadow: 0 8 20px rgb(3 17 6 / 3%);
    border-radius: 4px;
    position: relative;
    background:
      linear-gradient(
        165deg,
        rgb(112 185 238 / 100%) 0%,
        rgb(255 255 255 / 100%) 16%
      );
  }

  &__marks {
    width: 56px;
    height: 56px;
    background: $white;
    box-shadow: 16px 12px 56px rgb(11 29 46 / 15%);
    border-radius: 3px;
    position: absolute;
    top: -24px;
    left: -17px;
  }

  &__content {
    padding: 48px 40px 32px;
  }

  &__text {
    @extend %fontMontBase;

    font-style: italic;
    color: $quote-text-color;
    padding-bottom: 20px;
  }

  .author {
    &__name {
      @extend %fontMontAltBase;

      color: $quote-author-name-color;
    }

    &__role {
      @extend %fontMontBase;

      color: $quote-text-color;
      font-size: $font-size-xs;
      text-transform: uppercase;
    }
  }
}
