.step {
  padding-bottom: 46px;

  &__title {
    @extend %fontMontAltTitle;

    padding-bottom: 12px;
  }

  &__caption {
    @extend %fontMontBase;

    font-weight: $font-weight-normal;
    color: $font-base-color;
    line-height: 24px;
  }
}
