* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

.app-container {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 360px;
    @include desktop {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
