@font-face {
    font-family: "Montserrat Alternates";
    src: url("/src/fonts/MontserratAlternates-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("/src/fonts/Montserrat-Regular.ttf");
}

.font__sm {
    font-family: $font-montserrat-alternates;
    font-weight: $font-weight-bold;
    font-size: $font-size-sm;
}

.font__mont-base {
    font-family: $font-monserrat;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
}

.font__mont-alt-base {
    font-family: $font-montserrat-alternates;
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
}
