// Colors
$sidebar-color: #35A0EE;
$white: #FFFFFF;

$quote-text-color :#A4AEB4;
$quote-author-name-color: #07111B;

$font-base-color: #A4AEB4;
// Button
$button-link-font-color: #2696E8;
$button-next-bg-color: #35A0EE;

// Form
$form-elem-bg-color: #D5D9DC;
$form-elem-focus-bg-color: #2696E8;
$form-error-font-color: red;

/** Font */

// family
$font-montserrat-alternates: 'Montserrat Alternates';
$font-monserrat: 'Montserrat';

// weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// size
$font-size-base: 1rem; // 16px
$font-size-xs: ($font-size-base * 0.875); // 14px
$font-size-sm: ($font-size-base * 1.125); // 18px
$font-size-md: ($font-size-base * 1.3125); // 21px
$font-size-lg: ($font-size-base * 1.75); // 28px

/** Spacing */

$spacer-base: 1rem;