@font-face {
  font-family: "Montserrat Alternates";
  src: url("/src/fonts/MontserratAlternates-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("/src/fonts/Montserrat-Regular.ttf");
}

%fontSm {
  font-family: $font-montserrat-alternates;
  font-weight: $font-weight-bold;
  font-size: $font-size-sm;
}

.font__mont-base {
  font-family: $font-monserrat;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
}

%fontMontBase {
  font-family: $font-monserrat;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
}

%fontMontXS {
  font-family: $font-monserrat;
  font-size: $font-size-xs;
  font-weight: $font-weight-normal;
}

%fontMontMD {
  font-family: $font-monserrat;
  font-size: $font-size-md;
  font-weight: $font-weight-normal;
}

%fontMontAltBase {
  font-family: $font-montserrat-alternates;
  font-weight: $font-weight-bold;
  font-size: $font-size-base;
}

%fontMontAltMD {
  font-family: $font-montserrat-alternates;
  font-weight: $font-weight-bold;
  font-size: $font-size-md;
}

%fontMontAltTitle {
  font-family: $font-montserrat-alternates;
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
}
