// Colors
$base-color: #35a0ee;
$sidebar-color: #35a0ee;
$white: #fff;
$quote-text-color: #a4aeb4;
$quote-author-name-color: #07111b;
$font-base-color: #a4aeb4;

// Button
$button-link-font-color: #2696e8;
$button-next-bg-color: #35a0ee;

// Form
$form-elem-bg-color: #d5d9dc;
$form-elem-focus-bg-color: #2696e8;
$form-error-font-color: red;

// Slider
$slider-bg: #e9f0f5;
$slider-prices-color: #a1afb8;

// Checkbox
$checkbox-border-color: #d5d9dc;
$checkbox-active-bg-color: #f6fbff;

/** Font */

// family
$font-montserrat-alternates: "Montserrat Alternates";
$font-monserrat: "Montserrat";

// weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// size
$font-size-base: 1rem; // 16px
$font-size-xs: ($font-size-base * 0.875); // 14px
$font-size-sm: ($font-size-base * 1.125); // 18px
$font-size-md: ($font-size-base * 1.3125); // 21px
$font-size-lg: ($font-size-base * 1.75); // 28px

/** Spacing */

$spacer-base: 1rem;
